<h1> New link </h1>

<form action='/links' method= 'POST'>
  <label for='title'>Title:
    <input type='text' name='title'/>
  </label>
  <label for='url'>Url:
    <input type='text' name='url'/>
  </label>
  <input type='submit' value='Create link'>
</form>